.moviesRow {
  margin-bottom: 30px;
}

.moviewsRow h2 {
  margin: 0px 0px 0px 30px;
}

.moviesRow-list-area {
  overflow-x: hidden;
  padding-left: 30px;
}

.moviesRow-item {
  display: inline-block;
  width: 150px;
}

.moviesRow-item img {
  width: 100px;
  transform: scale(0.9);
  /* css diminuido para ficar 90% */
}

.moviesRow-item img:hover {
  transform: scale(1);
}
