.moviesRow {
  margin-bottom: 30px;
}

.moviewsRow h2 {
  margin: 0px 0px 0px 30px;
}

.moviesRow-list-area {
  overflow-x: hidden;
  padding-left: 10px;
}

.moviesRow-item {
  display: inline-block;
  width: 160px;
  text-align: center;
  cursor: pointer;
}

.moviesRow-item img {
  width: 150px;
  transform: scale(0.9);
  transition: all ease 0.2s;
}

.moviesRow-item img:hover {
  transform: scale(1);
}
