@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.title {
  font-size: 2em;
  margin-left: 0.5em;
  margin-top: 0.5em;
  font-weight: bolder;
}

.containerMovies {
  display: flex;
  margin: 0 auto;
  overflow: hidden;
}

.containerMovies:hover {
  overflow-x: auto;
}

h2 {
  font-size: 1em;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
}

.allLists {
  margin-top: -100px;
}

.loading {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
